@import "tailwindcss";

@font-face {
  font-family: poppins;
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@theme {
  --color-primary: #ffffff;
  --color-secondary: #4E6C50;
  --color-tertiary: #820000;
  --font-poppins: poppins, "sans-serif";
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}