@import "tailwindcss";

@font-face {
  font-family: poppins;
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@theme {
  --color-background: #FFFFFF;
  --color-primary: #1A2227;
  --color-secondary: #1A2227;
  --color-tertiary: #FBE580;
  --color-card: #FFFFFF;
  --font-poppins: poppins, "sans-serif";
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}